<footer class="main-footer" id="main-footer">
    <!--*ngIf="footerToggle.value"-->
    <div class="row">
        <div class="col-sm-8">
            <div>
	            <span class="spacer-in-right-sm spacer-in-bottom-sm" >
			            <a   target="_blank">MicroFocus Identity Manager Dashboard.</a>
                  <!--<span *ngIf="links.link==false">{{links.value[locale].value||links.value['en'].value}}</span>-->
	            </span>
                <div class="spacer-out-top-sm">
                    <!--<a ng-href="javascript:void(0)">{{contactInfo[locale].value}}</a>-->
                </div>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</footer>
