#success_message{ display: none;}

.has-error {
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;

}

.has-sucess {
  -webkit-box-shadow: 0 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;

}

displaym{
  display: flex !important;
}

.log-area{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  white-space: pre;
  background-color:black;
  color: white;
  margin: 0px;
}
