<div class="row">
  <div class="col-sm-6">
    <div class="main-content-header">
      <h2 class="heading-page-main spacer-out-bottom-sm" translate>
        <span translate> Welcome to one click IDM install</span>

      </h2>
      <div class="header-actions">
        <!--<button type="button" (click)="download()" class="btn btn-primary">Download</button>
        <button type="button" (click)="copyIso()" class="btn btn-primary">Mount</button>
        <button type="button" (click)="s_install()" class="btn btn-primary">Install</button>
        <button type="button" (click)="s_confiugre()" class="btn btn-primary">Configure</button>-->
        
        <button type="button" (click)="showLogs()" class="btn btn-primary">Show Log</button>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <!-- help section -->
  </div>
</div>
<div>

  <form class="well form-horizontal" novalidate [formGroup]="installFormGroup" (ngSubmit)="save()" id="contact_form">
    <fieldset>

      <!-- Form Name -->
      <legend>Please let us know your preferences!</legend>
      <legend>As of now We are only supporting Engine and Apps installation.</legend>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Enter Machine hostname/IP address</label>
        <div class="col-md-4 inputGroupContainer">
          <span *ngIf="!vaultip"
                [ngClass]="{'has-error' : installForm.vaultip?.errors && (installForm.vaultip?.dirty || installForm.vaultip?.touched), 'has-success':!installForm.vaultip?.errors && (installForm.vaultip?.dirty || installForm.vaultip?.touched)}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
              <input name="vaultip" placeholder="127.0.0.1" class="form-control" formControlName="vaultip" type="text"
                     required>
            </div>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Enter Machine login Username</label>
        <div class="col-md-4 inputGroupContainer">
          <span *ngIf="!boxusername"
                [ngClass]="{'has-error' : installForm.boxusername?.errors && (installForm.boxusername?.dirty || installForm.boxusername?.touched), 'has-success':!installForm.boxusername?.errors && (installForm.boxusername?.dirty || installForm.boxusername?.touched)}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
              <input name="boxusername" placeholder="root" class="form-control" formControlName="boxusername"
                     type="text"
                     required>
            </div>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Enter Machine password</label>
        <div class="col-md-4 inputGroupContainer">
          <span *ngIf="!boxpass"
                [ngClass]="{'has-error' : installForm.boxpass?.errors && (installForm.boxpass?.dirty || installForm.boxpass?.touched), 'has-success':!installForm.boxpass?.errors && (installForm.boxpass?.dirty || installForm.boxpass?.touched)}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
              <input name="boxpass" placeholder="password" class="form-control" formControlName="boxpass"
                     type="password" required>
            </div>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Enter Build ID.(ignore to install last successful build)</label>
        <div class="col-md-4 inputGroupContainer">
          <span *ngIf="!buildid"
                [ngClass]="{'has-error' : installForm.buildid?.errors && (installForm.buildid?.dirty || installForm.buildid?.touched), 'has-success':!installForm.buildid?.errors && (installForm.buildid?.dirty || installForm.buildid?.touched)}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
              <input name="buildid" placeholder="build id" class="form-control" formControlName="buildid"
                     type="text">
            </div>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Enter Identity Vault Tree name.</label>
        <div class="col-md-4 inputGroupContainer">
          <span *ngIf="!vaulttreename"
                [ngClass]="{'has-error' : installForm.vaulttreename?.errors && (installForm.vaulttreename?.dirty || installForm.vaulttreename?.touched), 'has-success':!installForm.vaulttreename?.errors && (installForm.vaulttreename?.dirty || installForm.vaulttreename?.touched)}">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input name="vaulttreename" placeholder="TreeName" class="form-control" type="text"
                         formControlName="vaulttreename" required/>
            </div>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Enter Identity Vault Administrator name.</label>
        <div class="col-md-4 inputGroupContainer">
          <span *ngIf="!vaultadminname"
                [ngClass]="{'has-error' : installForm.vaultadminname?.errors && (installForm.vaultadminname?.dirty || installForm.vaultadminname?.touched), 'has-success':!installForm.vaultadminname?.errors && (installForm.vaultadminname?.dirty || installForm.vaultadminname?.touched)}">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input name="vaultadminname" placeholder="cn=admin,ou=sa,o=system" class="form-control" type="text"
                         formControlName="vaultadminname" required/>
            </div>
          </span>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Enter Identity Vault Administrator password</label>
        <div class="col-md-4 inputGroupContainer">
          <span *ngIf="!vaultadminpass"
                [ngClass]="{'has-error' : installForm.vaultadminpass?.errors && (installForm.vaultadminpass?.dirty || installForm.vaultadminpass?.touched), 'has-success':!installForm.vaultadminpass?.errors && (installForm.vaultadminpass?.dirty || installForm.vaultadminpass?.touched)}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
              <input name="vaultadminpass" placeholder="password" class="form-control" formControlName="vaultadminpass"
                     type="password">
            </div>
          </span>
        </div>
      </div>

      <!-- Text input-->


      <!--<div class="form-group">
        <label class="col-md-4 control-label">Enter Identity Applications DNS/IP address</label>
        <div class="col-md-4 inputGroupContainer">
          <span *ngIf="!appsip" [ngClass]="{'has-error' : installForm.appsip?.errors && (installForm.appsip?.dirty || installForm.appsip?.touched), 'has-success':!installForm.appsip?.errors && (installForm.appsip?.dirty || installForm.appsip?.touched)}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
              <input name="appsip" placeholder="127.0.0.1" class="form-control"   formControlName="appsip" type="text">
            </div>
          </span>
        </div>
      </div>-->

      <div class="form-group">
        <label class="col-md-4 control-label" >Enter SSPR/One SSO configuration password</label>
        <div class="col-md-4 inputGroupContainer">
          <span *ngIf="!ssopass"
                [ngClass]="{'has-error' : installForm.ssopass?.errors && (installForm.ssopass?.dirty || installForm.ssopass?.touched), 'has-success':!installForm.ssopass?.errors && (installForm.ssopass?.dirty || installForm.ssopass?.touched)}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
              <input name="ssopass" placeholder="password" class="form-control" formControlName="ssopass"
                     type="password">
            </div>
          </span>
        </div>
      </div>

      <div class="form-group">
      <label class="col-md-4 control-label">Enter Identity Applications Administrator name.</label>
      <div class="col-md-4 inputGroupContainer">
        <span *ngIf="!appsadminname"
              [ngClass]="{'has-error' : installForm.appsadminname?.errors && (installForm.appsadminname?.dirty || installForm.appsadminname?.touched), 'has-success':!installForm.appsadminname?.errors && (installForm.appsadminname?.dirty || installForm.appsadminname?.touched)}">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="appsadminname" placeholder="cn=uaadmin,ou=sa,o=data" class="form-control"
                   formControlName="appsadminname" type="text">
          </div>
        </span>
      </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Enter Identity Application Administrator password</label>
        <div class="col-md-4 inputGroupContainer">
          <span *ngIf="!appsadminpass"
                [ngClass]="{'has-error' : installForm.appsadminpass?.errors && (installForm.appsadminpass?.dirty || installForm.appsadminpass?.touched), 'has-success':!installForm.appsadminpass?.errors && (installForm.appsadminpass?.dirty || installForm.appsadminpass?.touched)}">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
              <input name="appsadminpass" placeholder="password" class="form-control" formControlName="appsadminpass"
                     type="password">
            </div>
          </span>
        </div>
      </div>


      <!--<div class="form-group">
        <label class="col-md-4 control-label">Do you want to enable clustering?</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="radio">
            <label>
              <input type="radio" name="clustering" value="yes" class="form-control" formControlName="clus_true" /> True
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="clustering" class="form-control" formControlName="clus_false" value="no" checked/> False
            </label>
          </div>
        </div>
      </div>-->

      <div class="form-group">
        <label class="col-md-4 control-label">Enter Identity Applications database username.</label>
        <div class="col-md-4 inputGroupContainer">
          <span *ngIf="!postgresusername"
                [ngClass]="{'has-error' : installForm.postgresusername?.errors && (installForm.postgresusername?.dirty || installForm.postgresusername?.touched), 'has-success':!installForm.postgresusername?.errors && (installForm.postgresusername?.dirty || installForm.postgresusername?.touched)}">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="postgresusername" placeholder="idmadmin" class="form-control"
                   formControlName="postgresusername" type="text">
          </div>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" >Enter Identity Applications database user password.</label>
        <div class="col-md-4 inputGroupContainer">
          <span *ngIf="!postgresuserpass"
                [ngClass]="{'has-error' : installForm.postgresuserpass?.errors && (installForm.postgresuserpass?.dirty || installForm.postgresuserpass?.touched), 'has-success':!installForm.postgresuserpass?.errors && (installForm.postgresuserpass?.dirty || installForm.postgresuserpass?.touched)}">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <input name="postgresuserpass" placeholder="password" class="form-control"
                   formControlName="postgresuserpass" type="password">
          </div>
          </span>
        </div>
      </div>

      <!--<div class="form-group">
        <label class="col-md-4 control-label" >Enter Postgres Administrator password.</label>
        <div class="col-md-4 inputGroupContainer">
          <span *ngIf="!postgresadminpass"
                [ngClass]="{'has-error' : installForm.postgresadminpass?.errors && (installForm.postgresadminpass?.dirty || installForm.postgresadminpass?.touched), 'has-success':!installForm.postgresadminpass?.errors && (installForm.postgresadminpass?.dirty || installForm.postgresadminpass?.touched)}">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <input name="postgresadminpass" placeholder="password" class="form-control"
                   formControlName="postgresadminpass" type="password">
          </div>
          </span>
        </div>
      </div>-->

      <!-- Select Basic -->

      <!--<div class="form-group">
        <label class="col-md-4 control-label">Environment</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="state" class="form-control selectpicker" >
              <option value=" " >Please select your choice of environment</option>
              <option>Single Box Environment</option>
              <option>Distributed Environment</option>
            </select>
          </div>
        </div>
      </div>-->


      <div class="form-group">
        <label class="col-md-4 control-label">Enter hostname/IP address of Sentinel audit server.</label>
        <div class="col-md-4 inputGroupContainer">
          <span *ngIf="!sentinelip"
                [ngClass]="{'has-error' : installForm.sentinelip?.errors && (installForm.sentinelip?.dirty || installForm.sentinelip?.touched), 'has-success':!installForm.sentinelip?.errors && (installForm.sentinelip?.dirty || installForm.sentinelip?.touched)}">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
            <input name="sentinelip" placeholder="127.0.0.1" class="form-control" formControlName="sentinelip"
                   type="text">
          </div>
          </span>
        </div>
      </div>

      <!-- Text input-->

      <!--<div class="form-group">
        <label class="col-md-4 control-label">Zip Code</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input name="zip" placeholder="Zip Code" class="form-control"  type="text">
          </div>
        </div>
      </div>

      &lt;!&ndash; Text input&ndash;&gt;
      <div class="form-group">
        <label class="col-md-4 control-label">Website or domain name</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
            <input name="website" placeholder="Website or domain name" class="form-control" type="text">
          </div>
        </div>
      </div>

      &lt;!&ndash; radio checks &ndash;&gt;


      &lt;!&ndash; Text area &ndash;&gt;

      <div class="form-group">
        <label class="col-md-4 control-label">Project Description</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <textarea class="form-control" name="comment" placeholder="Project Description"></textarea>
          </div>
        </div>
      </div>-->

      <!-- Success message -->
      <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button type="submit" [disabled]="!isFormValid()" class="btn btn-warning">Submit <span
            class="glyphicon glyphicon-send"></span></button>

        </div>
      </div>

    </fieldset>
  </form>
</div>

<div class="modal modal-size-md modal-height-md fade in"  id="RoleQuickInfo" style="z-index: 90000000">
  <div class="modal-dialog"  >
    <div class="modal-content">
      <div class="modal-body spacer-in-none">
        <button class="close" data-dismiss="modal"><span class="sr-only" translate>Close</span></button>
        <!--<button class="close" (click)="scroll()" ><span class="sr-only" translate>Close</span></button>-->

        <pre class="log-area" id="log">
              <code data-language="python" autofocus>{{data }}</code>
            </pre>
        <!--<textarea ref-textarea  class="log-area" readonly [(ngModel)]="data" rows="4"></textarea><br/>-->

      </div>

    </div>
  </div>
</div>
<!-- /.container -->
