@charset "utf-8";

@import "../_globals/variables";
@import "../_globals/mixins";

// Accordion Default
.accordion-default {
    margin: $spacing-md 0;

    .accordion {
        &-title a {
            position: relative;
            display: block;
            color: $color-primary-text;
            text-decoration: none;
            font-size: $theme-font-size-base;
            padding-bottom: 0;
            @include simple-transition(); 

            &.collapsed {
                border-bottom: solid 1px $color-grey;
                padding-bottom: $spacing-sm;
            }

            // Expanded State
            &:before {
                @extend .icon;
                @extend .icon-arrow-collapse;
                position: absolute;
                right: 0;
                color: $color-medium-grey;
                
            }

            // Collapsed State
            &.collapsed:before {
                @extend .icon-arrow-expand;
            }

            small {
                display: block;
                margin-top: $spacing-xs;
                color: $color-dark-grey-alt;
            }

            // Hover State
            &:hover {
                text-decoration: none;
                color: $color-primary-text;
                &:before {
                    color: $color-medium-grey;
                }
            }
            
        }

        &-body {
            padding-bottom: $spacing-sm;

            &.in {
            }
        }
    }       
}